/*
 * Add spacings between elements with a single class
 *
 * https://codepen.io/Roma13012003/pen/gbOoQqO
 */

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flow-recursive * + * {
  margin-top: var(--flow-space, 1rem);
}

@mixin flow {
  & > * + * {
    margin-top: var(--flow-space, 1rem);
  }
}

@mixin flow-recursive {
  * + * {
    margin-top: var(--flow-space, 1rem);
  }
}
