html {
  caret-color: var(--color-primary);
}

body {
  background: var(--color-light);
  color: var(--color-dark-800);
  font-size: var(--size-sm);
  font-family: var(--font-primary), system-ui, sans-serif;
  line-height: var(--leading-normal);
  font-weight: 400;
  font-size-adjust: from-font;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

main {
  min-height: 70vh;
  min-height: 70dvh;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

:target {
  scroll-margin-block: 5vh;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 0.2lh;
}
