:root {

  /*
   * =================================================
   *  Global Tokens
   * =================================================
   */

  /*
   * Colors
   */
  --color-black: #000000;     /* Just pure black color */
  --color-white: #FFFFFF;     /* Just pure white color */

  --color-primary: #4B6BFB;   /* Accent color. Usually button's bg color */

  --color-light: #FFFFFF;
  --color-dark-900: #141624;
  --color-dark-800: #181A2A;
  --color-dark-600: #3B3C4A;
  --color-dark-500: #696A75;
  --color-dark-400: #97989F;
  --color-dark-100: #E8E8EA;

  --color-success: var(--color-primary);
  --color-warning: var(--color-primary);
  --color-error: var(--color-primary);


  /*
   * Font Sizes
   */
  --size-xxxl: 36px;
  --size-xxl: 30px;
  --size-xl: 24px;
  --size-lg: 20px;
  --size-md: 18px;                       
  --size-sm: 16px;                       
  --size-xs: 14px;                       


  /*
   * Font Families
   */
  --font-primary: 'IBM Plex Sans', sans-serif;
  --font-secondary: 'IBM Plex Sans', sans-serif;


  /*
   * Line Heights
   */
  --leading-flat: 1;        /* very compact */
  --leading-normal: 1.25;   /* default comfortable reading */
  --leading-relaxed: 1.5;   /* more open, good for body text */
  --leading-loose: 1.625;   /* airy, headings or large blocks */


  /*
   * Containers Width
   */
  --container-sm: 800px;    /* Used for Content Pages ("Privacy Policy", "Cookie Policy") */
  --container-md: 1216px;   /* The most common container width */
  --container-lg: 1216px;   /* Can be used for wider Header or Footer */


  /*
   * Border Radius
   */ 
  --radius-sm: 6px; 
  --radius-md: 12px; 
  --radius-round: 50%; 
  --radius-full: 99999px; 


  /*
   * Transitions
   */
  --transition-base: all 0.3s ease;


  /*
   * Borders
   */
  --stroke-base: 1px solid var(--color-dark-100);
  --stroke-transparent: 1px solid transparent;


  /*
   * Shadows
   */
  --shadow-base: 0px 12px 24px 6px rgba(var(--color-dark), 0.12);

}
