.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}


@include sm {
  .display-sm-block {
    display: block !important;
  }

  .display-sm-flex {
    display: flex !important;
  }

  .display-sm-none {
    display: none !important;
  }
}


@include md {
  .display-md-block {
    display: block !important;
  }

  .display-md-flex {
    display: flex !important;
  }

  .display-md-none {
    display: none !important;
  }
}


@include lg {
  .display-lg-block {
    display: block !important;
  }

  .display-lg-flex {
    display: flex !important;
  }

  .display-lg-none {
    display: none !important;
  }
}


@include xl {
  .display-xl-block {
    display: block !important;
  }

  .display-xl-flex {
    display: flex !important;
  }

  .display-xl-none {
    display: none !important;
  }
}
