@use "@/styles/global/breakpoints" as *;

.header {
  padding-block: 2rem;

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1.5rem;
  }
  
  /*
   * Navigation
   */
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  &__nav &__nav-link {
    color: var(--color-dark-600);
    text-decoration: none;
  }

  &__nav &__nav-link:hover {
    text-decoration: underline;
  }

  /*
   * Search
   */
  &__search {
    width: 100%;
    max-width: 20rem;
    background-color: var(--color-dark-100);
    border-radius: var(--radius-sm);
    padding: 0.5rem 1rem;
  }

  &__search input {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;

    width: 100%;
    background-color: inherit;
    color: var(--color-dark-400);
    font-size: var(--size-sm);
    border: 0;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }


  @include md {
    &__inner {
      grid-template-columns: 1fr;
      justify-content: center;
    }

    &__logo {
      display: flex;
      justify-content: center;
    }

    &__right {
      justify-content: center;
    }
  }
}
